
a {
  cursor: pointer;;
}

h2 {
  border-bottom: dashed 2px #CCCCCC;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: lighter;
}

p {
  font-size: 1.17rem;
}

.custom-font {
  font-style: italic;
}
